body {
   font-family: sans-serif;
}

img {
   max-width: 100%;
}

.container_small {
   max-width: 1080px;
   margin: auto;
   height: 100%;
}

#site_main {
   height: 100vh;
}

.images img {
   width: 100%;
   height: 500px;
   object-fit: cover;
}

.images img:not(.active) {
   display: none;
}